html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    color: #a9a9a9;
    background-color: #252525;
    max-width: 1000px;
    margin: auto;
    font-family: 'Hahmlet', serif;
    font-size: 14px;
    line-height: 1.7;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.header__header {
    color: #d6b136;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 20px;
}

.section {
    padding: 7px;
}

.section__header {
    color: #d6b136;
    font-weight: 300;
}

.section__portraitWarrior {
    width: 200px;
    height: 200px;
    border: 2px solid #a9a9a9;
    border-radius: 3px;
    padding: 10px;
    background: url("../images/ja.jpg");
    background-size: 180px 180px;
    background-repeat: no-repeat;
    background-position: center;
}

.section__portraitBandit {
    width: 200px;
    height: 200px;
    border: 2px solid #a9a9a9;
    border-radius: 3px;
    padding: 10px;
    background: url("../images/ja2.jpg");
    background-size: 180px 180px;
    background-repeat: no-repeat;
    background-position: center;
}

.section__portraitKnight {
    width: 200px;
    height: 200px;
    border: 2px solid #a9a9a9;
    border-radius: 3px;
    padding: 10px;
    background: url("../images/ja2.jpg");
    background-size: 180px 180px;
    background-repeat: no-repeat;
    background-position: center;
}

.section__button {
    font-family: 'Hahmlet', serif;
    font-weight: 700;
    width: 98px;
    height: 25px;
    color: #252525;
    background-color: #a9a9a9;
    text-transform: capitalize;
}

.section__buttonAddSub {
    font-family: 'Hahmlet', serif;
    font-weight: 700;
    width: 25px;
    height: 25px;
    margin-left: 10px;
    border-radius: 3px;
    border: none;
    color: #252525;
    background-color: #a9a9a9;
}

.section__buttonAddSub:hover {
    background-color: #949494;
}

.section__buttonAddSub:active {
    background-color: #252525;
    color: #a9a9a9;
}

.section__listItem {
    display: inline-block;
    width: 100%;
    max-width: 100px;
    padding: 5px;
}

.article__header, .form__labelText {
    width: 100%;
    max-width: 120px;
    display: inline-block;
    font-weight: 400;
    font-size: 17px;
    padding: 5px;
}

.form__field {
    font-family: 'Hahmlet', serif;
    font-weight: 600;
    letter-spacing: 0.05em;
    background-color: #a9a9a9;
    padding: 10px;
    margin: 10px;
    width: 100%;
    max-width: 200px;
    border-radius: 3px;
}

.form__field:hover  {
    background-color: #949494;    
}

.footer {
    padding: 20px;
    text-align: center;
}

/* .link {
    color: #dc143c;
    border: 2px solid #a9a9a9;
    text-decoration: none;
    margin: 0px 20px;
    padding: 10px;
}

.link:visited {
    color: #dc143c;
}

.link:focus {
    outline: 2px solid currentColor;
}

.link:hover {
    color: #ff0000;
    border: 2px solid #2c2c2c;
    outline: none;
}

.link:active {
    color: #c0c0c0;
} */